<ion-content class="background" scroll="true">
  <ion-grid>
    <ion-row class="ion-justify-content-evenly">
      <ion-col>
        <div class="content">
          <div class="ion-no-padding">
          <!-- name of restaurant goes here -->
          <ngx-datatable class="material"
            [rows]="rows"
            [rowHeight]="50"
            [columns]="columns"
            [count] = "rowNum"
            [columnMode]="'force'"
            [headerHeight]="60"
            [footerHeight]="50">
          </ngx-datatable>
          </div>
        </div>
        <ion-button
        fill="clear"
        style="
          font-size: small;
          color: #a30000;
          text-transform: none;
          font-family: 'Nunito', sans-serif;
        "
        routerLink="/patron-waitlist"
        routerDirection="root"
        ><p style="font-size: small">
          Refresh
        </p></ion-button
      >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
