@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

ion-content{
  --ion-background-color:#e9e9e9;
  --color: #a30000;
  font-size: 22px;
}

.content .row-center{
  margin-left: center;
  margin-right: center;
  width: 100%;
}

ion-input{
  background-color: clear;
  border-radius: 5px;
  font-size: 50px;
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
}

.actionbutton{
  color: #a30000;
  border-radius: 10px;
  --border-color: #a30000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
}

ion-icon {
  font-size: 64px;
  color: #a30000;
}

ion-grid {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;
  align-content: center;

  ion-row:first-child {
    font-weight: bold;
  }
  ion-col {
    border-bottom: 0;
    border-right: 0;
  }
}


.ngx-datatable.material{
  .datatable-header {
    .datatable-header-cell {
      background: clear;
      font-size: 22px;
      font-weight: bold;
      color: white;
      background: #a30000;
      text-align: center;
    }
  }
  .datatable-body .datatable-body-row .datatable-body-cell {
    text-align: center;
    vertical-align: center;
    color: #a30000;
    font-size: 16px;
    font-weight: 550;
  }
}

// Style footer appearance
.datatable-footer {
  background: rgba(218, 226, 234,1);
  padding: 0 1em 0 1em;

  .pager {
     li {
        padding: 0 1em !important;

        a {
           color: rgba(68, 68, 68, 1);
           text-decoration: none;
        }
     }
  }
}

// Style rules for the footer pagination elements
.datatable-icon-done-all:before {
  content: ">>";
}

.datatable-icon-left:before {
  content: "<";
}

.datatable-icon-right:before {
  content: ">";
}

.datatable-icon-skip:before {
  content: ">>";
}

.datatable-icon-prev:before {
  content: "<<";
}
