<ion-content class="background" scroll="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="5" class="align-self-center">
        <div class="content" class="ion-text-center">
          <div class="ion-padding">

          <p>
            How many people are in your party?
            </p>
            <p>
              <ion-button class="actionbutton" fill="clear">
                <ion-icon name="caret-up-sharp" ></ion-icon>
              </ion-button>

              <ion-input type="number" value="0" required></ion-input>

              <ion-button class="actionbutton" fill="clear">
                <ion-icon name="caret-down-sharp" ></ion-icon>
              </ion-button>
          </p>


          </div>
        </div>
        <ion-button class="actionbutton"
          expand="block" fill="outline" size="small"
          style="text-transform: none"
          ><b>Find a Restaurant</b></ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
