<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resturaunt Map
    </ion-title>
    <!--TO BE REMOVED AFTER DEBUG PROCESS-->
    <ion-buttons slot="end">
    <ion-button routerLink="/home"
    routerDirection="root">DEBUG HOME</ion-button>
    <!--TO BE REMOVED AFTER DEBUG PROCESS-->
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div #map id="map"></div>
  <ion-button color="light" (click)="openListView()">Resturaunt List</ion-button>
</ion-content>
