<ion-content class="background" scroll="true">
  <ion-grid>
    <ion-row class="ion-justify-content-evenly">
      <ion-col>
        <div class="content">
          <div class="ion-padding">
            <ion-img src="./assets/logo_red_bg.png"></ion-img>
            <ion-label position="floating">Enter 10-digit Phone Number</ion-label>
            <ion-input required type="tel" minlength="10" maxlength="10"
            [(ngModel)]="phoneNum"
            (keypress)="numberOnlyValidation($event)"></ion-input>
            <br/>
          </div>
          <ion-button
            class="actionbutton"
            expand="full"
            fill="clear"
            style="text-transform: none"
            [disabled]="!phoneNum || phoneNum.length < 10"
            (click)="patInfo()"
            routerLink="/map"
            routerDirection="root"
            ><b>Submit</b></ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
