<ion-content class="background" scroll="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center" class="ion-align-items-center">
      <ion-col>
        <div class="ion-text-center">
          <div class="ion-padding">
          <p>
          <br/>
          <br/>
          Your table is ready!
          <br/>
          <br/>
          <br/>
          Please see the host/hostess within 15 minutes!
          </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
