ion-content{
  --ion-background-color:#a30000;
}

.content .row-center{
  margin-left: center;
  margin-right: center;
  width: 80%;
}

.buttons-action{
  margin-left: 5px;
}

ion-input{
  background-color: #f2f2f2;
  border-radius: 5px;
  font-size: small;
}

.actionbutton{
  background-color: #5cffff;
  color: black;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: small;
  font-family: 'Nunito', sans-serif;
}
