<ion-content class="background" scroll="true">
  <ion-grid>
    <ion-row class="ion-justify-content-evenly">

  <div class="content">
    <div class="ion-padding">
      <ion-img src="./assets/logo_red_bg.png"></ion-img>
      <ion-button
      class="actionbutton"
      expand="full"
      fill="clear"
      style="text-transform: none"
      routerLink="/restaurant-waitlist"
      routerDirection="root"
      ><b>View Waitlist</b></ion-button
    >
    <br/>
    <ion-button
    class="actionbutton"
    expand="full"
    fill="clear"
    style="text-transform: none"
    routerLink="/floorplan"
    routerDirection="root"
    ><b>View Floorplan</b></ion-button
  >
  <br/>
  <ion-button
  class="actionbutton"
  expand="full"
  fill="clear"
  style="text-transform: none"
  routerLink="/restaurant-info"
  routerDirection="root"
  ><b>View Info</b></ion-button
>
</div>
</div>

</ion-row>
</ion-grid>
</ion-content>
