<ion-content class="background" scroll="true">
  <ion-grid>
    <ion-row class="ion-justify-content-evenly">

  <div class="content">
    <div class="ion-padding">
      <ion-img src="./assets/logo_red_bg.png"></ion-img>
      <ion-button
      class="actionbutton"
      expand="full"
      fill="clear"
      style="text-transform: none"
      (click)="goToSeat()"><b>Seat Patron</b></ion-button
    >
    <br>
    <ion-button
    class="actionbutton"
    expand="full"
    fill="clear"
    style="text-transform: none"
    (click)="goToUnseat()"><b>Clear A Table</b></ion-button
  >

  <ion-button
      fill="clear"
      style="
        font-size: small;
        color: #f2f2f2;
        text-transform: none;
        font-family: 'Nunito', sans-serif;
      "
      routerLink="/restaurant-function"
      routerDirection="root"
      ><p style="font-size: small">
        Back
      </p></ion-button
    >
</div>
</div>

</ion-row>
</ion-grid>
</ion-content>
