<ion-content class="background" scroll="true">
  <ion-grid>
    <ion-row class="ion-justify-content-evenly">
      <ion-col>
  <div class="content">
    <div class="ion-padding">
      <ion-img src="./assets/logo_red_bg.png"></ion-img>
      <ion-input
        placeholder="Email"
        style="padding-left: 10px !important; font-family: 'Nunito', sans-serif"
      ></ion-input>
      <br />
      <ion-input
        placeholder="Password"
        style="padding-left: 10px !important; font-family: 'Nunito', sans-serif"
      ></ion-input>
    </div>
    <ion-button
      class="actionbutton"
      expand="full"
      fill="clear"
      style="text-transform: none"
      ><b>Sign In</b></ion-button
    >
    <ion-button
      fill="clear"
      style="
        font-size: small;
        color: #f2f2f2;
        text-transform: none;
        font-family: 'Nunito', sans-serif;
      "
      routerLink="/reset"
      routerDirection="root"
      ><p style="font-size: small">
        Forgot Password?
      </p></ion-button
    >
    <ion-grid>
      <ion-row>
        <ion-col class="line" size="5"> </ion-col>
        <ion-col size="2" style="color: #f2f2f2; text-align: center">
          OR
        </ion-col>
        <ion-col class="line" size="5"> </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button
      class="signupbutton"
      expand="full"
      fill="clear"
      style="text-transform: none"
      routerLink="/signup"
      routerDirection="root"
      ><b>Sign Up</b></ion-button
    >
    <!--TO BE REMOVED AFTER DEBUG PROCESS-->
    <ion-button
      class="signupbutton"
      expand="full"
      fill="clear"
      style="text-transform: none"
      routerLink="/map"
      routerDirection="root"
      ><b>MAP DEBUG BUTTON</b></ion-button
    >
    <!--TO BE REMOVED AFTER DEBUG PROCESS-->
  </div>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
